$fontFamily: 'PT Serif, serif';


body{
    background-color: antiquewhite;
    background-image: url(imagenes/fondo.jpg);
}
.nav-link{
    font-family: $fontFamily;
    font-size: 30px;
}
.carousel-item{
    height: 100%;
    transition: all 2s;
}
.navbar-collapse{
    flex-grow: 0;
    padding-right: 35px;
}
.flex{
    display: flex;
    justify-content: space-evenly;
}
h1{
    font-family: $fontFamily;
    padding: 30px 30px;
    text-align: center;
    text-decoration: underline;
}
.info{
    margin: 30px 100px;
    font-size: 20px;
    font-family: $fontFamily;
}
.clases{
    padding: 50px;
}
.card-title{
    font-family: $fontFamily;
    padding: 30px;
    display: flex;
    justify-content: center;
}
.card-group{
    padding: 50px;
}
form{
    border: 1px solid rgb(44, 43, 43);
    width: 450px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 40px;
}
input{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 18px;
}
textarea{
    margin-bottom: 20px;
    box-sizing: border-box;
    min-height: 100px;
    max-height: 200px;
}
#boton{
    background-color: rgb(49, 49, 49);
    color: gray;
    padding: 15px;
    font-size: 25px;
    font-family: $fontFamily;
}
.pie{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
h2{
    color: rgb(149, 143, 143);
    font-size: 20px;
}
@media screen and (min-width: 360px){
    .flex{
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    body{
        box-sizing: border-box;
    }
    form{
        width: auto;
        margin: 10px;
    }
}

@media screen and (min-width: 768px){
    .flex{
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
    form{
        width: 500px;
        margin: 20px 400px;
    }
}